*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CCBCAF;
}
.main-1{
    padding-top: 50px;
}
.nav-bar{
    display: flex;
    background-color: #22333b;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.nav-bar a{
    color: #f2f4f3;
    background-color: #5e503f;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    border: solid #22333b 3px;
    transition: .4s;
}
.nav-bar a:hover{
    color: #f2f4f3;
    background-color: #22333b;    
    border: solid #5e503f 3px;
    transform: scale(1.2);
    transition: .4s;
}
.intro{
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro-h2{
    background-color: #f2f4f3;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    width: 1400px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.intro-p{
    background-color: #f2f4f3;
    width: 1400px;
    border-radius: 0px 0px 8px 8px;
    padding-bottom: 20px;
}
.how-we-work{
    display: flex;    
    justify-content: space-around;    
    flex-wrap: wrap;
    align-items: center;    
    text-align: center;
}
.how-we-work-p h3{
    color: #f2f4f37c;
    background-color: #22333b;
    border-radius: 8px;
    padding: 4px 5px 4px 5px;
    margin-bottom: 25px;
}
.p1{
    max-width: 400px;
    height: 285px;
    background-color: #a9927d;
    border-radius: 8px;
    padding: 20px;
}
footer{
    color: #f2f4f3;
    margin-top: 140px;
    background-color: #5e503f;
    flex-wrap: wrap;
}
footer .cr-text{    
    padding: 5px;
    text-align: center;
}
.oh-and-sr{
    display: flex;
    flex-wrap: wrap;
}
.sr{
    width: 50%;
    min-width: 300px;
    text-align: center;
    padding: 20px;
}